@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@200;300;400&display=swap");

:root {
  --primary-color: #00b39b;
  --btn-color: #3d84df;
  --gray: #ababab;
  --dark-gray: rgb(73, 73, 73);
  --work-sans: "Work Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
}

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba($color: #fff, $alpha: 0.98);
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;

    .logo {
      font-size: 34px;

      img {
        width: 268px;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      list-style: none;

      .link {
        margin: 0 15px;

        a {
          text-decoration: none;
          font-family: var(--roboto);
          font-size: 14px;
          font-weight: 400;
          color: var(--gray);

          &.current {
            color: var(--primary-color);
          }

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}

header {
  margin: 40px auto;

  .header-container {
    height: 300px;
    width: 975px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: var(--work-sans);
      font-size: 32px;
      font-weight: 300;
      line-height: 44px;
      color: var(--primary-color);
    }

    .text {
      display: flex;
      gap: 15px;

      p {
        font-family: var(--roboto);
        font-size: 16px;
        color: #747474;
        line-height: 28px;
      }
    }
  }
}

.services {
  height: 100vh;
  margin: 20px 0;

  .services-container {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .service-card {
      height: 50%;
      flex-basis: 25%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        i {
          font-size: 24px;
          margin-bottom: 10px;
        }

        h1 {
          font-family: var(--work-sans);
          font-size: 28px;
          font-weight: 400;
          margin-bottom: 10px;
        }

        p {
          font-family: var(--work-sans);
          font-size: 22px;
          font-weight: 400;
          line-height: 1.6;
          margin-bottom: 10px;
        }
      }
    }
  }
}
