@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@200;300;400&display=swap");

:root {
  --primary-color: #00b39b;
  --btn-color: #3d84df;
  --gray: #ababab;
  --dark-gray: #494949;
  --patients-color: #00ccb1;
  --doctors-color: #3e84e0;
  --clinics-color: #1a2632;
  --work-sans: "Work Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
}

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  background-color: rgba($color: #fff, $alpha: 0.95);
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;

    .logo {
      font-size: 34px;

      img {
        width: 268px;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      list-style: none;

      .link {
        margin: 0 15px;

        a {
          text-decoration: none;
          font-family: var(--roboto);
          font-size: 14px;
          font-weight: 400;
          color: var(--gray);

          &.current {
            color: var(--primary-color);
          }

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}

header {
  margin: 40px auto;

  .header-container {
    height: 300px;
    width: 975px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: var(--work-sans);
      font-size: 32px;
      font-weight: 300;
      line-height: 44px;
      color: var(--primary-color);
    }

    .text {
      display: flex;
      gap: 15px;

      p {
        font-family: var(--roboto);
        font-size: 16px;
        color: #747474;
        line-height: 28px;
      }
    }
  }
}

.services {
  height: 100vh;
  margin: 20px 0;

  .services-container {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;

    .service-card {
      height: 60%;
      flex-basis: 30%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      border-radius: 10px;
      color: #fff;

      &.patients {
        background-color: var(--patients-color);

        &:hover {
          background-color: lighten(#00ccb1, 3%);
        }

        select {
          background-color: var(--patients-color);
        }
      }

      &.doctors {
        background-color: var(--doctors-color);

        &:hover {
          background-color: lighten(#3e84e0, 3%);
        }

        select {
          background-color: var(--doctors-color);
        }
      }

      &.clinics {
        background-color: var(--clinics-color);

        &:hover {
          background-color: lighten(#1a2632, 3%);
        }

        select {
          background-color: var(--clinics-color);
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        i {
          font-size: 24px;
          margin-bottom: 10px;
        }

        h1 {
          font-family: var(--work-sans);
          font-size: 28px;
          font-weight: 400;
          margin-bottom: 10px;
        }

        p {
          font-family: var(--work-sans);
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }

      .options {
        select {
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          font-family: var(--work-sans);
          font-size: 20px;
          text-decoration: underline;
          text-align: start;
          color: #fff;
        }
      }
    }
  }
}

.brands {
  padding: 20px;

  .brands-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    h1 {
      padding: 30px;
      flex: 1;
      font-family: var(--work-sans);
      font-size: 28px;
      font-weight: 300;
      color: var(--primary-color);
    }

    .brands-list {
      list-style: none;
      flex: 2;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .brand {
        margin: 0 10px;
        a {
          color: var(--gray);
          svg {
            height: 20px;
            width: auto;
            max-width: 100%;
            padding-left: 10px;

            path {
              fill: hsla(0, 0%, 67%, 0.7);
            }
          }
        }

        &.gipo {
          a {
            svg {
              height: 40px;
              width: auto;
              max-width: 100%;
            }
          }
        }

        &.clinic-cloud {
          a {
            svg {
              height: 40px;
              width: auto;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
